*{
	padding:0px;
	margin:0px;
	font-family: "Microsoft YaHei",Arial;
}

ul, li {
	margin:0px;
	padding:0px;
	list-style:none;
	list-style-image:none;
}

body{
	 background: ghostWhite;
	font-size: 12px;
	color:#666666;
}

.hide
{
    }

.login
{
    height:440px;
    width:100%;
    overflow:hidden;
    background:url(../images/login_bg.png) repeat-x;
}

.login .advert
{
    float:left;
    width:63px;
    height:500px;
    background:url(../images/login_slip.png) no-repeat;
}

.login .loginImg
{
    float:left;
    width:450px;
    height:500px;
}

.login .loginForm
{
    float:left;
    height:500px;
    padding:100px 0px 0px 30px;
}

.login .loginForm div
{
    height:40px;
}

.login .key
{
    font-size:20px; 
    font-weight:bold;
    margin-left:-17px;
    padding:11px 0px 0px 57px;
    background:url(../images/key.png) no-repeat;
}

.login .loginForm div input[type="password"],
.login .loginForm div input[type="text"]
{
    height:23px;
    width:150px;
    border:1px solid #ccc;
}

.top{
	background:black url(../images/top_bg.png) repeat-x ;
	padding:6px 0px;
	margin-bottom:13px;
	height:61px;
	position:relative;
}

.logo
{
	position:absolute;
	top:0px;
	left:0px;
	width:206px;
	height:80px;
	background: url(../images/logo.png) repeat-x 0px 1px;
}

.top *
{
	color:#ccc;
}

.top a{
	color:#DFD69C;
}

.userBox{
	height:30px;
	text-align:right;
	padding:0px 20px;
}

.breadNav0{
	color:#ccc;
	padding-left:70px;
	position:absolute;
	top:30px;
	left:85px;
}
.breadNav1{
	color:#ccc;
	padding-left:170px;
	position:absolute;
	top:20px;
	left:185px;
}
.breadNav2{
	color:#ccc;
	padding-left:370px;
	position:absolute;
	top:5px;
	left:285px;
}
.breadNav3{
	color:#ccc;
	padding-left:370px;
	position:absolute;
	top:15px;
	left:85px;
}

.header
{
    line-height:25px;
    font-weight:bold;
    font-size:13px;
    position:relative;
}

.header b
{
	float:right;
	display:block;
	width:15px;
	height:21px;
	position:absolute;
	right:1px;
}

.BOut
{
	top:-1px;
    background:white url(../images/ym_pic.png) -79px -77px no-repeat;
    +background:white url(../images/ym_pic.png) -79px -78px no-repeat;
}

.BHover
{
	top:-4px;
    background:white url(../images/ym_pic.png) -184px -77px no-repeat;
    +background:white url(../images/ym_pic.png) -184px -78px no-repeat;
}

.searchHeader
{
    cursor:pointer;
    height:9px;
}

 .searchHeader span
{
	position:absolute;
	top:-2px; 
	left:1px;
	display:inline-block;
	width:21px;
	height:21px;
	margin-right:5px;
	vertical-align:middle;
}

.headerOpen
{
    background: white url(../images/ym_pic.png) -223px -76px no-repeat;
}

.headerClose
{
    background: white url(../images/ym_pic.png) -247px -77px no-repeat;
}

.listHeader span
{
	display:inline-block;
	width:16px;
	height:21px;
	margin-right:5px;
	vertical-align:middle;
    background: url(../images/ym_pic.png) -186px -9px no-repeat;
}

.context
{
    padding:12px 0px 0px 5px;
    background: url(../images/header_bg.png) repeat-x;
}

.dataTable .pagination
{
    padding:0px;
    background-color:transparent;
}

.dataTable .pagination .pagination-right
{
    margin-right:2px;
}

.dataTable .pagination select
{
    width:50px;
}

.formLabel label
{
    background:#F6F8EE;
    padding:2px 0 2px 5px;
}

.formLabel *
{
    display:inline-block;
    vertical-align:middle;
}

.dataTable
{
    border-collapse:collapse;
    width:100%;
    /*border-bottom:1px solid #AAA48C;*/
    /**border-right:1px solid #AAA48C;*/
    margin-top:20px;
    white-space:nowrap;
    table-layout:fixed;
}

.dataTable th
{
    line-height:18px;
    padding:5px 5px 3px 5px;
    color:#97917b;
    border-bottom:1px solid #ddd;
    width:10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
    background-color:#f7f6f2;
    background: url(../images/table_title_bg.png) repeat-x;
}

.dataTablePage
{
	border:0px;
    background: url(../images/table_title_bg.png) repeat-x;
}

.piceTitle
{
	position:relative;
}

.piceTitle a
{
	border:0px;
	display:inline-block;
	width:16px;
	height:16px;
	position:absolute;
	top:5px;
	right:8px;
	overflow:hidden;
	line-height:100px;
	background:url(../images/ym_pic.png) no-repeat -367px -80px;
}

.dataTable td
{
    line-height:23px;
    padding:0px 5px;
    +padding:1px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
	border-bottom:1px solid #eee;
}

.dataTable a
{
	color:#3C78B5;
	text-decoration:none;
}

.dataTable a:hover
{
	text-decoration:underline;
}

.dataTable tr:hover
{
	background-color:ghostWhite;
}

.nav{
	float:left;
	width:160px;
}

.nav a{
	color:#464951;
	text-decoration:none;
	font-size:12px;
	display:block;
	padding-left:19px;
	margin-left:-1px;
}

.nav a:hover
{
	color:#3C78B5;
}

.nav dl{
	margin-bottom:4px;
	/**background: #D9DBE0 url(../images/nav.png) -160px 0px repeat-y;**/
}

.nav dt{
	height:29px;
	line-height:29px;
	text-indent:8px;
	color:InfoBackground;/**#464951**/
	font-weight:bold;
	font-size:13px;
	cursor:pointer;
	background: url(../images/nav.png) no-repeat;
}

.nav dd{
	color:#5A5E67;
	padding:0px 0px 14px 0px;
	background: url(../images/nav.png) -320px bottom no-repeat;
	overflow:hidden;
}

.nav ul{
	padding-top:2px;
	border-bottom:0px;
	border-top:0px;
	background:url(../images/nav.png) -160px 0px repeat-y;
}

.nav li{
	line-height:19px;
	border-bottom:1px dotted #eee;
	margin:0px 4px;
	cursor:pointer;
	background:transparent url(../images/arrow.png) 6px 6px no-repeat;
}

.nav li:hover
{
	padding-left:3px;
	background:#f6f6f6 url(../images/arrow.png) 9px -27px no-repeat;
}

.articleTitle{
	position:relative;
}

.nav dt span
{
	display:inline-block;
	width:16px;
	height:34px;
	margin-right:5px;
	vertical-align:middle;
}

.nav dt .system
{
	background:url(../images/ym_pic.png) -10px -2px no-repeat;
}

.nav dt .customerService
{
	background:url(../images/ym_pic.png) -81px -2px no-repeat;
}

.nav dt .report
{
	background:url(../images/ym_pic.png) -116px -2px no-repeat;
}

.nav dt .master
{
	background:url(../images/ym_pic.png) -45px -2px no-repeat;
}


.articleTitle .bg{
	height:38px;
	padding-left:10px;
	font-weight:bold;
	line-height:38px;
	font-size:16px;
	margin:0px 3px;
	background:url(../images/article.png) 0px -150px repeat-x;
}

.articleTitle .lt{
	width:6px;
	height:38px;
	top:0px;
	left:0px;
	position:absolute;
	background:url(../images/article.png) -1px 0px no-repeat;
}

.articleTitle .rt{
	width:6px;
	height:38px;
	top:0px;
	right:0px;
	position:absolute;
	background:url(../images/article.png) no-repeat 1px -75px;
}

.articleFloor{
	position:relative;
	overflow:hidden;
}

.articleFloor .bg{
	height:18px;
	margin:0px 5px;
	background:url(../images/article.png) 0px -282px repeat-x;
}

.articleFloor .lt{
	width:6px;
	height:18px;
	top:0px;
	left:0px;
	position:absolute;
	background:url(../images/article.png) 0px -213px no-repeat;
}

.articleFloor .rt{
	width:6px;
	height:18px;
	top:0px;
	right:0px;
	position:absolute;
	background:url(../images/article.png) no-repeat 0px -246px;
}

.articleLt{
	padding:5px 10px 0px 10px; 
	background:white url(../images/article-bg-lt.png) left repeat-y;
}

.articleRt
{
	position:relative;
	padding:5px 10px 10px 0px; 
	background:white url(../images/article-bg-rt.png) right repeat-y;
}


/** questionOther start **/

.questionOther{
	width:235px;
	overflow:hidden;
	position:relative;
	background:url(../images/other_pic.png) repeat-y -495px 0px;
}

.questionOther dt{
	height:34px;
	width:235px;
	line-height:34px;
	text-indent:10px;
	font-weight:bold;
	font-size:13px;
	border-bottom:1px solid white;
}

.questionOther dl{
}

.questionOther dd{
	line-height:23px;
	padding:5px 8px;
	border-top:1px solid #FCEAC5;
}

.questionOther .bottomGg{
	padding-bottom:10px;
}

.questionOther .QTop
{
	position:relative;
	background:url(../images/other_pic.png) no-repeat -7px 0px;
}

.questionOther .QTop dt .hideBtn
{
	width:16px;
	height:16px;
	position:absolute;
	right:5px;
	top:11px;
	cursor:pointer;
	background:url(../images/ym_pic.png) no-repeat -151px -80px;
}

.questionOther .QTop dt .fixBtn
{
	width:16px;
	height:16px;
	position:absolute;
	right:5px;
	top:10px;
	display:none;
	cursor:pointer;
	background:url(../images/ym_pic.png) no-repeat -380px -118px;
}

.questionOther .QTop dd p span
{
	color:GrayText;
}

.questionOther .QTop dd p
{
	border-bottom:1px dashed Linen;
}

.questionOther .QBottom{
	background:url(../images/other_pic.png) no-repeat -251px 0px;
	background-position:bottom;
	min-height:69px;
}

.questionAction{
	clear:both;
}

.questionAction table{
	width:100%;
}

.questionAction td{
	height:25px;
}

.questionAction dl{
	padding:10px 5px;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-radius:0px 0px 3px 3px;
	
}

/** questionOther end **/


/** labels start **/

.labels {
	overflow:hidden;
	margin-top:3px;
}

.labels li{
	float:left;
	margin-right:13px;
	white-space:nowrap;
	cursor:pointer;
}

.labels img{
	cursor:pointer;
	width:8px;
	height:8px;
}

.labels a
{
    display:inline-block;
    vertical-align:middle;
	cursor:pointer;
	width:8px;
	height:8px;
	padding:0px 3px;
	background:url(../images/error.png) top no-repeat;
}

/** labels end **/


/** question start **/

.question
{
	margin-bottom:-17px;
	background-color:SeaShell;
}

.question .QBottom
{
	min-height:68px;
	border-top:1px solid #eee;
	background:white url(../images/question_pic.png) repeat-x 0px -75px;
}

.questionContent{
	display:block;
	padding-left:18px;
	font-size:13px;
	padding-bottom:8px;
	margin-top:3px;
	word-wrap:break-word;
}

.question .aboutQ {
	border:0px;
}

.aboutQ dt
{
	border-bottom:1px solid white;
	background:#ebebe5 url(../images/table_title_bg3.png) repeat-x 0px 0px;
}

.question .aboutQ dt b
{
	font-size:17px;
	font-weight:normal;
}

.aboutQ dd
{
	border-top:1px solid #ccc;
	border-bottom:1px solid white;
}

.aboutQ .qIco{
	border:0px;
}

.getQ .qIco{
	border:0px;
	background-position:-29px -1px;
}

.client .qIco{
	border:0px;
	top:-26px;
	background-position:-91px 11px;
}

.worker .qIco{
	border:0px;
	top:-26px;
	background-position:-60px 11px;
}

.qIco{
	width:2px;
	height:60px;
	position:absolute;
	left:3px;
	top:-15px;
	background:url(../images/p_new.png) no-repeat;
}

.question dl
{
	border-bottom:1px solid white;
	border-top:1px solid #eee;
	position:relative;
}

.question .rw
{
	overflow:auto;
}

.worker dt span, .client dt span
{
	line-height:21px;
}

.question dt{
	overflow:hidden;
	padding-left:28px;
	padding-top:6px;
}

.question dt b{
	font-size:14px;
}

.question dt span
{
	color:gray;
	line-height:21px;
}

.question dd{
	padding:5px 10px;
	line-height:23px;
	overflow:hidden;
}

.attachement
{
	background:url(../images/ym_pic.png) no-repeat -368px -147px;
	padding-left:20px;
	padding-right:5px;
	margin:5px 0px;
	display:inline-block;
}

.attachement a, .fileLink a
{
	color:#3C78B5;
}

.foldText
{
	position:absolute;
	right:5px;
	bottom:5px;
	height:20px;
	width:20px;
	cursor:pointer;
	overflow:hidden;
}

.foldTextUp
{
	background:url(../images/ym_pic.png) no-repeat -208px -115px;
}

.foldTextDown
{
	background:url(../images/ym_pic.png) no-repeat -230px -115px;
}

.foldTextUp:hover
{
	background:url(../images/ym_pic.png) no-repeat -256px -115px;
}

.foldTextDown:hover
{
	background:url(../images/ym_pic.png) no-repeat -278px -115px;
}

/** question end **/

/** tab start **/

.tabOut{
	border-left:1px solid #eee;
	cursor:pointer;
	background:#F0F0F0;
	float:left;
	height:22px;
	line-height:22px;
	padding-left:3px;
	background:url(../images/tab.png) 0px -92px repeat-x;
}

.tabOutHover{
	border-left:1px solid #ddd;
	cursor:pointer;
	height:22px;
	float:left;
	line-height:22px;
	padding-left:3px;
	background:url(../images/tab.png) 0px -69px repeat-x;
}

.tabRight{
	float:left;
	width:9px;
	height:22px;
	line-height:22px;
	background:url(../images/tab.png) no-repeat 0px -23px;
}

.tabLast{
	float:left;
	width:14px;
	height:22px;
	line-height:22px;
	background:url(../images/tab.png) no-repeat 0px -23px;
}

.tabHover{
	position:absolute;
	width:15px;
	height:22px;
	line-height:22px;
	background:url(../images/tab.png) no-repeat 0px 0px;
}

.tabUl{
	position:relative;
	border-bottom:1px solid #ddd;
	height:21px;
	padding-left:3px;
}

.fileTab dl{
	height:100px;
	overflow:auto;
	padding:5px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}

/** tab end **/


/** accessory start **/

.accessory{
	width:250px;
	height:85px;
	overflow:auto;
	overflow-Y:scroll;
	padding:2px 0px;
	border:1px solid #ccc;
	display:inline-block;
	float:left;
	margin-left:4px;
	position:relative;
}

.accessory li:hover{
	background:#EBE9E9;
}

.accessory li{
	padding:0px 5px;
	clear:both;
	overflow:hidden;
	position:relative;
	height:auto;
}

.accessory span{
	color:#085394;
}

.accessory div{
	cursor:pointer;
	margin-top:4px;
	width:8px;
	height:8px;
	top:1px;
	right:4px;
	position:absolute;
	background:url(../images/error.png) no-repeat bottom;
}

.accessory a
{
    display:block;
	cursor:pointer;
	margin-top:4px;
	width:8px;
	height:8px;
	top:1px;
	right:4px;
	position:absolute;
	background:url(../images/error.png) no-repeat bottom;
}

.accessory .DownLoadFiles
{
    display:block;
	cursor:pointer;
	margin-top:4px;
	width:8px;
	height:10px;
	top:0px;
	right:18px;
	position:absolute;
	background:url(../images/downLoad.png) no-repeat bottom;
}

/** accessory end **/

/** jobTime start **/

.jobTime
{
    padding:0px 15px 50px 20px;

}

.jobTime dt{
	font-weight:bold;
}

.jobTime dl{
	padding:10px;
	margin-top:5px;
	border:1px solid #ccc;
	background:#fcfcfc;
	display:none;
	border-radius:3px;
}

.jobContainer{
	padding:0px 15px 50px 24px;
	position:relative;
}

.jobContainer .lt{
	height:100%;
	width:3px;
	top:0px;
	left:0px;
	position:absolute;
	background:url(../images/article-bg-lt.png) left repeat-y
}

.jobContainer .rt{
	height:100%;
	width:3px;
	top:0px;
	right:0px;
	position:absolute;
	background:url(../images/article-bg-rt.png) right repeat-y
}

.reply input[type="password"],.reply input[type="text"]
{
    width:130px;
}

.reply select
{
    width:132px;
}
/** jobTime end **/

.form-layout {
	text-align: left;
	border:0px;
	padding: 0px;
}

.form-layout div {
	float: left;
	border-top: 1px solid white;
	/*border-bottom:1px solid aliceBlue;*/
	height: 25px;
	overflow: hidden;
	min-width: 350px;
	background:url(../images/label_bg.png) 0px 0px no-repeat; 
}

.form-layout div *{
	vertical-align: middle;
}

.form-layout .required {
	float: left;
	min-width: 350px;
	background:url(../images/label_bg.png) 0px -303px no-repeat; 
}

table .required input[type=text],table .required select,table .required textarea
{
	background-color:#FFE6E2;
}

.form-layout .required label 
{
}

.form-layout div label {
	color: #646464;
	width: 150px;
	height: 25px;
	line-height: 25px;
	text-align: right;
	display: inline-block;
	border: 0px;
}

.form-layout .operate {
	clear: both;
	float:none;
	width: 100%;
	height: 27px;
	padding-top:3px;
	margin-bottom: 10px;
}

.form-layout .operate input{
	*padding:2px 6px 0px 6px;
}

.form-layout .custom
{
    clear:both;
    overflow:visible;
    height:auto;
    width:98%;
}

.form-layout .oneRow
{
    width:98%;
}

.form-layout .custom label
{
    line-height:inherit;
    height:auto;
	border-left:2px solid #F6F8E;
}

.form-layout .buttonRow
{
    clear:both;
    width:98%;
    border:0px;
    margin:10px 0px 0px 0px;
    background-image:none;
}

.form-layout .datePicker span label
{
    width:auto;
    border:0px;
    background:white;
}

.form-layout .datePicker span
{
    display:inline-block;
}

.form-layout .accessory div
{
	cursor:pointer;
	margin-top:4px;
	width:8px;
	height:8px;
	float:right;
	border:0px;
	min-width:8px;
	background:url(../images/error.png) no-repeat;
}

.form-layout .multiRadio ul li
{
    display:table;
}

.form-layout .multiRadio label
{
    float:left;
}

.form-layout .multiRadio ul
{
    display:inline-table;
}

.form-layout .multiRadio ul label
{
    float:none;
    width:20px;
    border:0px;
    background-color:transparent;
    margin-right:20px;
}

.form-layout .multiRadio ul input
{
    margin-left:5px;
}

.oneCol div{
	width:98%;
}

.twoCol div{
	width:49%;
}

.threeCol div{
	width:32%;
}

.fourCol div{
	width:24%;
}

.ui-autocomplete-input
{
	background-image:url(../images/auto.png);
	background-position:right;
	background-repeat:no-repeat;
}

.date-picker, .layoutPicker
{
	background-image:url(../images/datePicker.png);
	background-position:right;
	background-repeat:no-repeat;
}

.multiCheckBox label
{
    float: left;
}
.multiCheckBox ul
{
    float: left;
    margin: 2px 4px;
}
.multiCheckBox ul li
{
    float:left;
    padding: 1px 0px;
}
.multiCheckBox .date-picker
{
    width: 113px;
}

.JCheckBox_window
{
    width:450px
}

.JCheckBox_window ul
{
    
}

.JCheckBox_window li
{
    width:220px;
    overflow:hidden;
}

.userHeader
{
	line-height:54px; 
	border:1px solid #EAEAEA; 
	padding-left:5px; 
	background:ghostWhite;
	font-size:13px;
}

.userHeaderBottom
{
	height:15px;
	background:url("../images/header_bg.png") repeat-x;
}

.norecord
{
	padding:5px;
}

.userView dt a
{
	float:right;
	padding-right:10px;
}

.userView dt span
{
	float:left;
	font-weight:bold;
	font-size:13px;
}

.userView dd
{
	background:url("../images/header_bg.png") repeat-x;
	margin-bottom:10px;
	padding:10px 0px 5px 0px; 
}

.userView dd th
{
	line-height:13px;
}

.userView dt
{
	overflow:hidden;
	border-left:1px solid #EAEAEA; 
	border-bottom:1px solid #EAEAEA; 
	padding-left:5px; 
	background:#FCFCFC;
	line-height:25px;
}

.userView .norecord
{
	padding-left:5px;
}

.replyJCheckBox
{
	width:200px;
	min-height:100px;
}

.replyJCheckBox
{
	width:300px;
	min-height:100px;
}

.iusseCreateJCheckBox
{
	
}

/** ÕûÌåÐÞ¸Ä **/

.hideItem .buttonRow
{
	position:absolute;
	z-index:999;
	top:0px;
	right:20px;
	width: auto;
	min-width:1px;
	height:30px;
}

.hideItem .buttonRow input
{
	width:66px;
	height:29px;
	background:url(../images/ym_pic.png) no-repeat -5px -286px;
}

.hideItem .buttonRow input:hover
{
	background:url(../images/ym_pic.png) no-repeat -75px -286px;
}

.hideItem .longButton input
{
	width:104px;
	height:29px;
	background:url(../images/ym_pic.png) no-repeat -148px -286px;
}

.hideItem .longButton input:hover
{
	background:url(../images/ym_pic.png) no-repeat -274px -286px;
}

.linkMore
{
	display:inline-block;
	width:43px;
	height:17px;
	background:url(../images/ym_pic.png) no-repeat -138px -323px;
}

.linkMore:hover
{
	background:url(../images/ym_pic.png) no-repeat -184px -323px;
}

#tagsdiv span
{
	padding-right:4px;
}

.view
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -5px -153px;
}

.tag
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -27px -153px;
}

.extension
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -47px -153px;
}

.disable
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -69px -153px;
}

.opening
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -90px -152px;
}

.reset
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -110px -153px;
}

.managementUser
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -130px -153px;
}

.editLink
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -152px -153px;
}

.addLink
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -344px -153px;
}

.addBtn
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -367px -80px;
}

.saveLink
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -176px -153px;
}

.cancelLink
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -200px -153px;
}

.download
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -223px -152px;
}
.general
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -296px -152px;
}

.satisfactory
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -248px -152px;
}

.perfect
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -271px -152px;
}

.operate
{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -320px -152px;
}

.password
{
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:text-top;
	margin-right:2px;
	background:url(../images/ym_pic.png) no-repeat -303px -113px;
}

.loginBtn
{
	width:91px;
	height:27px;
	border:0px;
	color:White;
	font-size:13px;
	padding-bottom:4px;
	background:url(../Images/login_btn.png) no-repeat;
}

.clearTable, .clearTable th, .clearTable td
{
	padding:0px;
	margin:0px;
	border:0px;
	line-height:normal;
	background:none;
}

.clearTable tr:hover{ background-color:transparent;}

.clearTable{width:100%;}

.piece dt
{
	border:0px;
    background: url(../images/table_title_bg.png) repeat-x;
	line-height: 26px;
    height: 26px;
    padding: 0px 5px;
    margin-bottom: 1px;
    position: relative;
}
.piece dl
{
	padding:0px;
	margin:0px 0px 15px 0px;
	border:0px;
}
.piece dd
{
    border: 1px solid #eee;
    border-radius: 0px 0px 5px 5px;
    min-height: 50px;
}

.piece dt span
{
	font-weight:bold;
	font-size:13px;
}

.piece dt a
{
    right: 5px;
    top: 5px;
    position: absolute;
}

.piece .dataTable
{
	margin-top:0px;
}

.piece .dataTable th
{
	background-color:ghostWhite;
    background: url(../images/table_title_bg2.png) 0px -11px repeat-x;
}

.hideNavBar
{
	height:53px;
	width:10px;
    cursor:pointer;
    margin:245px 1px 0px 1px;
}

.navBarHide
{
    background: url(../images/ym_pic.png) -56px -179px repeat-x;
}

.navBarShow
{
    background: url(../images/ym_pic.png) -40px -179px repeat-x;
}

.navBarHide:hover
{
    background: url(../images/ym_pic.png) -8px -179px repeat-x;
}

.navBarShow:hover
{
    background: url(../images/ym_pic.png) -24px -179px repeat-x;
}

.workingHourSubNav td
{
	font-weight:bold;
	color:#97917B;
	background:url("../images/table_title_bg2.png") repeat-x 0 -11px;
}

.msg
{
	position:relative;
	height:52px;
	line-height:48px;
	padding-left:33px;
	margin-bottom:15px;
	background:url("../images/msg.png") repeat-x 0 -55px;
}

.msg .msgLeft
{
	position:absolute;
	top:0px;
	left:0px;
	height:52px;
	width:29px;
	background:url("../images/msg.png") no-repeat 0px 0px;
}

.msg .msgRight
{
	position:absolute;
	top:0px;
	right:0px;
	height:52px;
	width:29px;
	background:url("../images/msg.png") no-repeat 0px -111px;
}

.toggleRow
{
	height:16px;
	width:16px;
	cursor:pointer;
    background: url(../images/ym_pic.png) -348px -118px repeat-x;
}

.toggleOneRow
{
    background: url(../images/ym_pic.png) -327px -118px repeat-x;
}

.floorTop
{
	height:40px;
	border-bottom:1px solid #ccc;
	background: url(../images/floor_top.png) repeat-x bottom;
}

.floorText
{
	height:47px;
	border-top:1px solid white;
	background-color:#ccc;
	text-align:center;
	padding-top:12px;
	line-height:20px;
}

.floorText a
{
	color:#666666;
   text-decoration:none;
}

.floorText a:hover
{
   text-decoration:underline;
}

.service p
{
	line-height:25px;
}

.service th
{
	text-align:left;
	font-size:13px;
	padding-left:25px;
	line-height:30px;
	background: url(../images/arrow_red.gif) 0px 9px no-repeat;
}

.customTable .required
{
	background:url(../images/tr_required.png) repeat-y; 
}

.customTable tr
{
	line-height:24px;
}

.customTable tr .accessory
{
	line-height:17px;
}

.customTable tr td
{
	border-bottom:1px solid white;
}

.customTable .cke_wrapper td
{
	border-bottom:0px;
}

.customTable
{
	border-collapse:collapse;
	background:url(../images/tr_common.png) repeat-y; 
}