@{
    Layout = "";
}
@model ShinyBirthday.Web.Models.Shiny.AllMessageViewModel
<!DOCTYPE html>
<html>
<head>
    <title>所有留言</title>
    <link rel="shortcut icon" href="../../Content/Images/QTS.ico" type="image/x-icon" />
</head>
<body>
    <div style="position: absolute; left: 200px; top: 50px;">
        @{
            var i = 0;
            foreach (var item in Model.ListMessage)
            {
                i++;
                
            <div>
                <span><span style="color:Gray;">@i </span>@item.Friender: </span>
                <span>@item.Message </span>
                <span title="留言时间： @item.Leavetime" style=" cursor:pointer;">*</span>
            </div>
            
            <br />
            }
        }
        @{
            int pi_ = 1;
            for (int pi = 0; pi < Model.PageNos; pi++)
            {
                if (pi == Model.CurrentPagenum)
                {
            <a href="../Shiny/AllMessages?pageNum=@pi" style="color:Red;">-@pi_ </a>
                }
                else
                {
            <a href="../Shiny/AllMessages?pageNum=@pi">-@pi_ </a>
                }
                pi_ = pi_ + 1;
            }
        }
    </div>
</body>
</html>
